<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .header{
            padding: 10px;
            text-align: center;
            background-color: aqua;
        }
    </style>
</head>
<body>

    <div class="header">
        <h4>Web-Connections with DB2</h4>
    </div>

    <div class="container">
   <div class="row">
    <div class="col-6">
      <form method="POST" action="{{url_for('Enter')}}">
        id:<input type="number" name="id" class="form-control" />
        First_Name : <input type="text" name="fname" class="form-control" />
        Last_Name : <input type="text" name="lname" class="form-control" />
        City : <input type="text" name="city" class="form-control" />
        City Code : <input type="text" name="ccode" class="form-control" />
        <br><br>
        <input type="submit" class="btn btn-success" value="Submit" />

      </form>
    </div>
    <div class="col-6">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>First_Name</th>
                <th>Last_Name</th>
                <th>City</th>
                <th>CCode</th>
            </tr>
            {% for row in data %}
            <tr>
                <td>{{row['ID']}}</td>
                <td>{{row['FNAME']}}</td>
                <td>{{row['LNAME']}}</td>
                <td>{{row['CITY']}}</td>
                <td>{{row['CCODE']}}</td>
            
            </tr>
            {% endfor %}
        </table>
    </div>
   </div>
</div>
</body>
</html>